body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #FFFFC2;
    overflow: hidden;
}

#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
}

#yesButton {
    position: absolute;
    margin-right: 150px;
}

.header_text {
    font-family: 'Nunito';
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.btn {
    background-color: #FFFF00;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}
 
  #video-background {
    border: 1px solid #000;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 280px;
    padding: 10px;
    width: 40%;
  }

 /* Media query for smaller screens */
@media screen and (max-width: 700px) {
    body {
        height: auto;
        padding: 10px;
        overflow:hidden;
    }

    #noButton,
    #yesButton {
        position: relative;
        margin: 10px;
    }

    .header_text {
        font-size: 30px;
        margin-top: 20px;
    }

    .buttons {
        margin-top: 20px;
    }

    .btn {
        padding: 12px 24px;
        font-size: 14px;
    }

    #video-background {
        margin-left: 20px;
        width: 80%;
    }
}